transformers
datasets
evaluate
nltk
tensorboard
wandb
optimum
accelerate
torch
numpy
bitsandbytes
peft
trl
huggingface-hub~=0.23.0
scikit-learn
rouge_score
bert_score
unbabel-comet
mauve-text
auto-gptq
faiss-gpu
faiss-cpu
tqdm